[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
scipy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
ipykernel = "*"
gradio = "*"
pingouin = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
